# Базовые пакеты для Data Science и ML
# Укажите точные версии пакетов, которые вы используете в своем решении

pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
lightgbm==4.4.0
tqdm==4.66.4
scipy==1.13.1